body{
    background-color: #091827;
    text-align: center;
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

table {
  margin: 0 auto; /* 0 for top/bottom margin, auto for left/right */
}

p {
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

u {
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a{
    text-decoration: none;
    color: aliceblue;
}

.criarconta button{
    background-color: blue;
}


label{
    font-family: "Poppins", sans-serif;
    font-size: larger;
    color: aliceblue;
}

input{
    border-radius: 80px;
    border: 4px solid white;
    font-size: larger;
    text-align: center;
    color: white;
    background-color: #091827;
    margin: 10px auto;
    display: block;
    width: 80%;
    max-width: 350px;
}
select{
    border-radius: 80px;
    border: 4px solid white;
    font-size: larger;
    text-align: center;
    color: white;
    background-color: #091827;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

button{
    background-color: #2dab18;
    border: none;
    border-radius: 80px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    padding: 10px 20px  10px 20px  ;
    cursor: pointer;
    margin: 10px;
}

.logo img{
    width: 50%;
}

.imagem img{
    width: 50%;
    max-width: 200px;
}

.espaco {
    padding: 20px;
}

.infoLogo {
    background-color: #41b8d5;
    border-radius: 10px;
    text-align: center;
    color: #ecf0f0;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
    margin-bottom: 10px;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-overflow: ellipsis;
}

.Oculto1 {
    display: none;
}

.Oculto2 {
    display: none;
}


@media screen and (min-width: 1024px){
    .infoLogo {
        max-width: 320px;
        margin-left: auto;
        margin-right: auto;
    }

}

@media screen and (max-width: 1024px) {
    body {
        font-size: 1em;
        padding: 10px;
    }

    
    
    .table {
        max-width: 100vw;
        padding: 5px;
        font-size: 20px;
        overflow-x: auto;
    }
    table {
        width: 100%;
        font-size: 20px;
    }
    tr th, td {
        font-size: 20px;
        padding: 8px;
    }
}

@media screen and (max-width: 768px) {
    body {
        font-size: 20px;
        padding: 5px;
    }
    .table {
        max-width: 100vw;
        font-size: 0.8em;
        padding: 2px;
        overflow-x: auto;
    }
    table {
        width: 100%;
        font-size: 0.8em;
    }
    tr th, td {
        font-size: 0.8em;
        padding: 5px;
    }
}

