.navbar {
    background-color: #227fa8;
    padding: 20px;
}

.navbar a {
    text-decoration: none;
    color: aliceblue;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    margin: 10px;
}

.navbar a:hover{
    color: #ff914d;
}
.navbar img {
    max-width: 40%;
}

.home img {
    width: 80%; 
    max-width: 40px;
    height: auto;
}
.home button:hover{
    background-color: #2385af;
    transform: scale(1.05);
}

.home button {
    border: none;
    border-radius: 50%;
    padding: 10px;
    background-color: rgb(34, 127, 168, 0.6);
    cursor: pointer;
    margin: 5px;
}


@media screen and (min-width: 1024px) {

    .navbar{
        text-align: center;
    }
    .navbar img {
        max-width: 20%;
        margin-left: auto;
        margin-right: auto;
    }
    .home button{
        padding: 12px;
    }


}

#email-edit {
    font-size: 1em;
    border: 1px solid #2600ff;
    background: #227fa8;
    border-radius: 4px;
}

#usuario-edit {
    font-size: 1em;
    border: 1px solid #2600ff;
    background: #227fa8;
    border-radius: 4px;
}