.navbar {
    background-color: #227fa8;
  padding: 20px;
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  width: 200px; 
  height: 100vh; 
  position: fixed; 
  top: 0;
  left: 0;
  overflow-y: auto; 
  z-index: 9999; 
  border-color: #1a7196;
  border-right-style: solid;
  left: -65%; /* Começa a animação fora da tela, à esquerda */
  animation: moverDireita 1s forwards; /* Aplica a animação com duração de 3 segundos */
}

@keyframes moverDireita {
    0% {
        transform: translateX(0); /* Posição inicial: fora da tela, à esquerda */
    }
    100% {
        transform: translateX(100%); /* Posição final: movida para a direita, para dentro da tela */
    }
}

.navbar a {
     text-decoration: none;
  color: aliceblue;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin: 10px 0; 
  display: block; 
}

.navbar a:hover{
    color: #ff914d;
}
.navbar img { 
    max-width: 100%; /* keep original size */
  margin-bottom: 20px; /* space below logo */
}

.home img {
    width: 80%; 
    max-width: 40px;
    height: auto;
}
.home button:hover{
    background-color: #2385af;
    transform: scale(1.05);
}

.home button {
    border: none;
    border-radius: 50%;
    padding: 10px;
    background-color: rgb(34, 127, 168, 0.6);
    cursor: pointer;
    margin: 5px;
}


@media screen and (min-width: 1024px) {

    .navbar{
        text-align: center;
    }
   
    .home button{
        padding: 12px;
    }


}

#email-edit {
    font-size: 1em;
    border: 1px solid #2600ff;
    background: #227fa8;
    border-radius: 4px;
}

#usuario-edit {
    font-size: 1em;
    border: 1px solid #2600ff;
    background: #227fa8;
    border-radius: 4px;
}